<div class="todo-wrapper">
  <h1 class="title">My ToDo-List</h1>
  <p>Add new ToDo:</p>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input #toDoTitle type="text" placeholder="ToDo Title" class="input">
    </div>
    <div class="control">
      <button class="button is-success" (click)="saveNewToDo()">Save</button>
    </div>
  </div>
  <p>&nbsp;</p>
  <p> 
    <ng-container *ngIf="!showingFinishedToDos; else elseBlock">
      Show all done ToDos:
      <button class="button is-black" (click)="getDoneToDos()">Show done</button>
    </ng-container>

    <ng-template #elseBlock>
      Show all ToDos:
      <button class="button is-black" (click)="getToDos()">Show ToDos</button>
    </ng-template>
  </p>
  <p>&nbsp;</p>
  <ul class="todos">
    <ng-container *ngFor="let todo of allToDos">
      <li>
        <span class="title-small">{{todo.title}}</span> 
        <a [routerLink]="['/todo', todo.id]" class="button is-warning">Edit</a>
        <ng-container *ngIf="!todo.isDone; else elseBlockBtn">
          <button class="button is-success" (click)="finishToDo(todo.id)">Done</button>
        </ng-container>
        <ng-template #elseBlockBtn>
          <button class="button is-danger" (click)="deleteToDo(todo.id)">Delete ToDo</button>
        </ng-template>
      </li> 
    </ng-container>
  </ul>
</div>