<div class="todo-wrapper">
  <div *ngIf="todo?.title">
    <h1 class="title">ToDo Detail page for: {{todo?.id}}</h1>
    <p>ToDo Title: <span class="todo-detail-title">{{todo.title}}</span></p>
    <p>ToDo is done: {{todo.isDone}}</p>
    <p>&nbsp;</p>
    <p><button class="button is-danger" (click)="deleteCurrentToDo()">Delete this ToDo</button></p>
    <p>&nbsp;</p>
    <p>
      <button class="button is-warning" (click)="updateToDoStatus()">
        Mark ToDo as&nbsp;
        <span class="unfinished" *ngIf="todo?.isDone">unfinished</span> 
        <span class="finished" *ngIf="!todo?.isDone">finished</span> 
      </button>
    </p>
    <p>&nbsp;</p>
    <p>Rename ToDo:</p>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input #toDoTitleDetail type="text" value="" placeholder="New ToDo Title" class="input">
      </div>
      <div class="control">
        <button class="button is-success" (click)="updateToDoTitle()">Save</button>
      </div>
    </div>
    <p><a [routerLink]="['']">Back to overview</a></p>
  </div>
  <div *ngIf="!todo?.title">
    <h1 class="title">Sadly the ToDo you're looking for can't be found.</h1>
    <a [routerLink]="['']">Back to overview</a>
  </div>
</div>
